#header{
  background: #000 url(/themes/custom/base-theme/dist/img/header.jpg);
  background-size: cover;
}

.social{
  margin:20px 0;
  clear:both;
}



body:not(:target) .region-primary-menu .menu-toggle:after{
  background: url(/themes/custom/base-theme/dist/img/hamburger.svg) no-repeat;
}