/* ==  Administración backend drupal =================== */
#toolbar-administration{
  z-index: 1001;
}

#solucion {
  .panel {
    box-shadow: none;
    margin-bottom: auto;
    background-color: transparent;
    border: none;
  }
}
